<div id="main-container">
  <header id="main-header">
    <div id="top-header">
      <div class="left">
        <h1>{{title}}</h1>
      </div>
      <div class="center">
        <form>
          <label for="userSearch">Search Users:</label>
          <input type="text" id="userSearch" name="user">
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="right">
        <ul class="menu-links">
          <li>
            <a href="http://localhost:4200">Help</a>
          </li>
          <li>
            <a href="http://localhost:4200">Login</a>
          </li>
          <li>
            <a href="http://localhost:4200">Signup</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul class="menu-links">
        <li class="active">
          <a href="http://localhost:4200">Home</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Browse</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Search</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Messages</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Blog</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Bulletins</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Forums</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Groups</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Layouts</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Favourites</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Invite</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Shop</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">About</a>
        </li>
        <li class="">
          <a href="http://localhost:4200">Art</a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="main-content">
    <article id="new-users">
      <h2>Cool New People</h2>
      <div id="users">
        <section>
          <a href="http://localhost:4200">
            <h3>Username</h3>
            <img
              src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
              alt="User Avatar" style="height: 80px; width: 80px;">
          </a>
        </section>
        <section>
          <a href="http://localhost:4200">
            <h3>Username</h3>
            <img
              src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
              alt="User Avatar" style="height: 80px; width: 80px;">
          </a>
        </section>
        <section>
          <a href="http://localhost:4200">
            <h3>Username</h3>
            <img
              src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
              alt="User Avatar" style="height: 80px; width: 80px;">
          </a>
        </section>
        <section>
          <a href="http://localhost:4200">
            <h3>Username</h3>
            <img
              src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
              alt="User Avatar" style="height: 80px; width: 80px;">
          </a>
        </section>
      </div>
    </article>
    <article id="announcements">
      <h2>Announcements</h2>
      <div class="announcement-list">
        <section class="announcement">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Announcement Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
        <section class="announcement">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Announcement Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
        <section class="announcement">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Announcement Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
        <section class="announcement">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Announcement Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
      </div>
    </article>
    <article id="recent-discussions">
      <h2>Recent Discussions</h2>
      <section>
        <a href="http://localhost:4200" class="forum-name">Forum</a>
        <sub>by <a href="http://localhost:4200">User</a> (23 replies)</sub>
      </section>
      <section>
        <a href="http://localhost:4200" class="forum-name">Forum</a>
        <sub>by <a href="http://localhost:4200">User</a> (23 replies)</sub>
      </section>
      <section>
        <a href="http://localhost:4200" class="forum-name">Forum</a>
        <sub>by <a href="http://localhost:4200">User</a> (23 replies)</sub>
      </section>
      <section>
        <a href="http://localhost:4200" class="forum-name">Forum</a>
        <sub>by <a href="http://localhost:4200">User</a> (23 replies)</sub>
      </section>
    </article>
    <article id="featured-articles">
      <h2>Featured Articles</h2>
      <div class="article-list">
        <section class="article">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Article Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
        <section class="article">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Article Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
        <section class="article">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Article Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
        <section class="article">
          <img
            src="https://cdn.vectorstock.com/i/preview-1x/95/21/cute-ginger-girl-avatar-portrait-profile-picture-vector-43809521.jpg"
            alt="User Avatar" style="height: 80px; width: 80px;">
          <span>
            <h3>Article Title</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
          </span>
        </section>
      </div>
    </article>
    <aside id="authentication">
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="remember">Remember Me:</label>
        <input type="checkbox" id="remember" name="remember">
        <br>
        <button type="submit">Login</button>
        <button type="button">Signup</button>
        <a href="http://localhost:4200">Forgot Password?</a>
      </form>
    </aside>
  </main>
</div>
<router-outlet></router-outlet>
